@use 'sass:color';

/*original colors
$bg: rgba($color: #1a0927, $alpha: 1.0);
$bgHalf: rgba($color: #24053b, $alpha: 0.5);
$purpleDark: rgba($color: #8730c9, $alpha: 1.0);
$purpleLight: rgba($color: #c47efa, $alpha: 1.0);
$purpleLighter: rgba($color: #e5c9fa, $alpha: 1.0);
*/

/*Blue*/
$bg: rgba($color: #0a0927, $alpha: 1.0);
$bgHalf: rgba($color: #05063b, $alpha: 0.5);
$purpleDark: rgba($color: #3330c9, $alpha: 1.0);
$purpleLight: rgba($color: #867efa, $alpha: 1.0);
$purpleLighter: rgba($color: #c9cefa, $alpha: 1.0);


/*Red
$bg: rgba($color: #270909, $alpha: 1.0);
$bgHalf: rgba($color: #3b0505, $alpha: 0.5);
$purpleDark: rgba($color: #c93030, $alpha: 1.0);
$purpleLight: rgba($color: #fa7e7e, $alpha: 1.0);
$purpleLighter: rgba($color: #fac9c9, $alpha: 1.0);
*/